<div class="card">
   {{!-- {{postData as |post|}} --}}
  <h2 class="card-header">{{title}}</h2>
  <div class="card-body">
    <h5 class="card-title">{{user_id}}</h5>
    <p class="card-text">{{content}}</p>
    <a href="#" class="btn btn-primary">comment</a>
  </div>
</div>
